
      <link href="https://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
      <style type="text/css">
         body{
         margin-top:20px;
         background-color: #f2f3f8;
         }
         .card {
         margin-bottom: 1.5rem;
         box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
         }
         .card {
         position: relative;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-direction: column;
         flex-direction: column;
         min-width: 0;
         word-wrap: break-word;
         background-color: #fff;
         background-clip: border-box;
         border: 1px solid #e5e9f2;
         border-radius: .2rem;
         }
      </style>
  
      <div class="container h-100">
         <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
               <div class="d-table-cell align-middle">
                  <div class="text-center mt-4">
                     <h1 class="h2">Reset password</h1>
                     <p class="lead">
                        Enter your Username &amp; Email to reset your password.
                     </p>
                  </div>
                  <div class="card">
                     <div class="card-body">
                        <div class="m-sm-4">
                           <form name="form1" method="post" action="sendpassword.php">
                              <div class="form-group">
                                 <label>Username</label>
                                 <input class="form-control form-control-lg" type="text" name="txtUsername" id="txtUsername" placeholder="Enter your Username">
                              </div>
                              <div class="form-group">
                                 <label>Email</label>
                                 <input class="form-control form-control-lg" type="text" name="txtEmail" id="txtEmail" placeholder="Enter your Email">
                              </div>
                              <div class="text-center mt-3">
                                 <button class="btn btn-lg btn-primary">Send Password</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  